/* */h1::before{content:""}/* */
#markdown p {
	text-align: justify;
}
#markdown ol li {
	padding-left: 10px;
}
.links-container  .material-icons {
	font-size: 20px;
	line-height: 20px;
	vertical-align: sub;
}
.links-container {
	text-transform: capitalize;
	text-align: center;
}
.links-container span::after {
	content: ", ";
}
.links-container span:last-of-type:after {
	content: "";
}

@keyframes loading-dots-before {
	0% {
		padding-left: 0;
	}
	25% {
		padding-left: 5.633336px;
	}
	50% {
		padding-left: 11.2667px;
	}
	75% {
		padding-left: 19.1667px;
	}
	100% {
		padding-left: 0;
	}
}
@keyframes loading-dots-after {
	0% {
		content: "";
	}
	25% {
		content: ".";
	}
	50% {
		content: "..";
	}
	75% {
		content: "...";
	}
	100% {
		content: "";
	}
}
#markdown.loading {
	text-align: center;
}
#markdown.loading::before {
	font-size: 1.6rem;
	content: "working";
	animation: loading-dots-before 2s steps( 1 ) 0s infinite;
}
#markdown.loading::after {
	font-size: 1.6rem;
	content: "";
	animation: loading-dots-after 2s steps( 1 ) 0s infinite;
}